//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------
$icon-font-path: "assets/fonts/bootstrap/";

//******************************
//GLOBAL COLORS
//******************************
$white: #ffffff;
$black: #000000;
$pink: #ec008c;
$blue: #3498db;

//******************************
//GLOBAL FONTS
//******************************
$font-sans-serif: Arial, Helvetica, sans-serif;
$font-seric: 'Times New Roman', serif;

//******************************
//MEDIA QUERY BREAK POINTS
//******************************
$tablet-width: 768px;
$desktop-width: 1024px;

